*{
	box-sizing: border-box; 
	/* This makes the widths of elements more consistent
		Full details here https://css-tricks.com/box-sizing/ */
}

body{
	margin: 0px; /* Often browsers have a 5px margin by deafult*/
	font-family: sans-serif;
}

section{
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	height:1320px;
}



#title{
	margin-right: auto;
	margin-left: auto;
	width: 80%;
	background: red;

}


.container {
  position: relative;
  text-align: center;
  color: white;
  }

.centered {
  position: absolute;
  top: 40%;
  left: 30%;
  transform: translate(-50%, -50%);
  font-size:150px;
  color: #FFFFFF;
  text-shadow: 3px 3px #A4A4A4;
}

.button {
  position: absolute;
  top: 30%;
  left: 60%;
  font-size:150px;
  color: #525252;
  text-shadow: 3px 3px #A4A4A4;
}

.cover img{
	width: 100%;
	float: center;
  }

  nav a{
	float: center;
	margin: 0px;
	line-height: 50px;
	margin-top: 80%;
	margin-left: 5%;
	margin-right: 5%;
	text-decoration: none;
	font-size: 60px;
	color: #525252;


}

 header h3{
	float: left;
	margin: 0px;
	line-height: 60px;
	margin-left: 1em;
	margin-right: 1em;
	text-decoration: none;
	font-size: 40px;




}



nav a:hover {
	text-decoration: underline; /* Hover styles to let people know they can click it */
}



/* Simple grid */
.g-row{
	width: 100%;
	overflow: hidden;
}

.g-row img{
	width: 100%; /*This makes all images in grids to be the size of their cell */
}

.g-50{
	width: 50%;
	float: left;
}

.g-30{
	width: 60%;
	float: left;
}

.g-70{
	width: 40%;
	float: left;
}

.show{
	border: 1px solid blue;
	padding: 2px;
}

.padded{
	padding: 20px; /* I add this to cells to add a little padding*/
}